@import '../../styles/index';

.bike-specs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;  
  min-width: 180px;
  margin: 0;
  padding: 10px 20px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: $details-bg;
}

.bike-specs__specs-list {  
  text-align: start;
}

.bike-specs__bike-name {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 3px dotted black;
  color: black;
}

.bike-specs__spec {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.bike-specs__spec:last-of-type {
  margin-bottom: 0;
}

.spec{
  color: black;
}

.bold {
  font-weight: 500;
}