.bike-card__wrap {
  display: flex;
}

.bike-card__image-wrap {
  position: relative;
}

.bike-card__image {
  margin: 0;
  height: 100%;
  width: 350px;
  object-fit: cover;  
  cursor: pointer;
  //border: 3px solid black;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.bike-card__bike-name {
  margin: 0;
}

.bike-card__stats {
  margin: 0;
}