:root {
  --fc-button-bg-color: #3cc47c;
  --fc-event-border-color: none;
  --fc-event-bg-color: #4d6d9a;
  /* --fc-today-bg-color: #3cc47c; */
  /* --fc-daygrid-event-dot-width: 15px; */
}

.fc .fc-daygrid-event-harness {
  z-index: -1;
}

.fc-daygrid-day-events {
  display: flex;
  justify-content: center;
  align-self: center;
}

.fc-daygrid-day {
  height: 90px;
}
