@import url(./assets/normalize.css);
@import url(./assets/fonts/Inter/inter.css);
@import url(../src/Components/Header/Header.scss);
@import url(../src/Components/Main/Main.scss);
@import url(../src/Components/Main/MainPage/MainPage.scss);
@import url(../src/Components/Main/Stats/Stats.scss);
@import url(../src/Components/Main/Garage/Garage.scss);
@import url(../src/Components/Maintenance/Maintenance.scss);
@import url(../src/Components/Auth/Auth.scss);
@import url(../src/Components/Feature/Feature.scss);
@import url(../src/Components/Page404/Page404.scss);
@import url(../src/Components/ActivitiesCalendar/CalendarTileContent/CalendarTileContent.scss);
@import url(../src/Components/ActivitiesCalendar/CalendarLegend/CalendarLegend.scss);
@import url(../src/Components/Footer/Footer.scss);
@import url(../src/Components/shared/SharedComponents.scss);
@import url(../src/Components/UI/UIComponents.scss);





$page-background: #4d6d9a; // синий
// $page-background: #363636;  // серый
$text: red;
// $page-background: #d37172;  //кирпичный



body {
  margin: 0;
  font-family: 'Inter', 'Suisse', 'Arial', 'Helvetica', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  background-color: $page-background;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $page-background;
}

.page {
  position: relative;
  min-height: 100vh;
}

.link {
  text-decoration: none;
}

p, h2 {
  color: black;
}
