@import '../../../../styles/index';

.bike-card__wrap {
  display: flex;
  max-height: 250px;
}

.bike-card__image-wrap {
  position: relative;  
}

.bike-card__image {
  margin: 0;
  height: 100%;
  width: 350px;
  object-fit: cover;  
  cursor: pointer;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

.bike-card__bike-name {
  margin: 0;
}

.bike-card__stats {
  margin: 0;
}