.edit-btn {
  height: 18px;
  width: 18px;
  background: url('../../images/edit-btn.png') center/cover no-repeat;
  align-self: end;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}
  
.edit-btn:hover {
  opacity: 1;
}