$text-color: black;

.section-card {
  color: black;

}

.section-card__wrapper {
  display: flex;
}

.section-card__header {
  color: $text-color;
}

.section-card__text {
  margin: 0;
  margin-left: 25px;
  align-self: center;
}