@import url(./BikePartsCard/BikePartsCard.scss);
@import url(./BikeParts/BikeParts.scss);
@import url(./BikePartsList/BikePartsList.scss);
@import url(./BikePartsCategories/BikePartsCategories.scss);

.maintenance__content-wrapper {
    display: flex;
    gap: 50px;
}

.maintenance__header {
  font-size: 20px; 
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}