.navigation__nav-links {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.nav-links__link {
  font-size: 18px;  
  color: black;
}

.nav-links__link:hover {
  opacity: 0.8;
}

.nav-links__link.active {
  padding-bottom: 8px;
  border-bottom: 3px solid black;
}
