@import '../../styles/index';


.common-stats__list {
  margin: 60px 0;
  margin-bottom: 90px;
  padding: 0 10px 0;
  width: 100%;
}

.common-stats__item {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 260px max-content;
  align-items: center;
  padding: 10px 0;
}

.item__description {
  margin: 0;
  font-size: 18px;
  line-height: 121%;
  font-weight: 300;
}

.item__value {
  background-color: $details-bg;
  padding: 0 10px;
  font-size: 36px;
  line-height: 121%;
  font-weight: 700;
  border-radius: 5px;
}
