.navLinks {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.navLinks__navLink {
  color: aliceblue;
}

.navLinks__navLink:hover {
  opacity: 0.7;
}
