@import '../../../styles/index';

.calendar-legend {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.calendar-legend__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.calendar-legend__dot {
  margin: 0;
  margin-right: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.legend-name {
  margin: 0;
  margin-bottom: 7px;
  color: aliceblue;
}