@import url(./CommonStats/CommonStats.scss);
@import url(./StatsYearCard/StatsYearCard.scss);
@import url(./StatsYearsList/StatsYearsList.scss);

.stats {
  padding: 40px 100px;
  min-height: 75vh;
  position: relative;
}

.stats__common-stats-wrapper {
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}
