@keyframes spin-wheel{
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.preloader {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.preloader__spinner {
  width: 90px;
  animation: spin-wheel 3s linear infinite;
}

.preloader_off {
  opacity: 0;
}