@import '../../styles/_index';

@keyframes yo-yo {
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

.year-card {
  position: relative;
  margin: 20px auto;
  text-align: center;
  box-shadow: 5px 5px 10px peachpuff,
  inset -5px -5px 8px -4px palegoldenrod;
  padding: 5px 2px;
  width: 100%;
  border: 1px none $border-color;
  border-radius: 6px;
}

.year_card__stats {
  background-color: rgb(173, 168, 168);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.stats__wrapper {
  padding-bottom: 2px;
  cursor: pointer;
}

.stats__opener-text {
  margin: 0;
  padding-bottom: 0px;
  width: 100%;
  background-color: rgb(173, 168, 168);
  border: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.stats__wrapper::before {
  margin-bottom: 6px;
  content: "";
  display: block;
  border-top: 2px solid black;
}

%opener-icon {
  margin: 10px auto 6px;
  height: 14px;
  width: 100%;
  background-image: url('../../images/chevron-down-24.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.stats__opener-icon_show {
  @extend %opener-icon;
}

.stats__opener-icon_show:hover {
  animation: yo-yo 1.4s ease infinite;
}

.stats__opener-icon_hide {
  @extend %opener-icon;
  margin-bottom: 25px;
  background-image: url('../../images/chevron-up-24.png');
}

.stats_dashboard {
  display: none;
  margin: 0;
  padding: 0;

}

.stats_dashboard_on {
  display: block;

  padding-bottom: 20px;
}

.stats__text {
  margin-top: 0;
}
