@import '../../styles/index';

.tile-content__dot {
  margin: 0 auto;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.tile-content__dot_indoor-ride {
  background-color: $trainer-color;
}

.tile-content__dot_outdoor-ride {
  background-color: $ride-color;
}

.tile-content__dot_other-activity {
  background-color: $other-activity-color;
}

.tile-content__title {
  color: aliceblue;
  margin: 10px 0 0;
}