.bike-card {
  margin: 0;
}

.bike-card__wrap {
  display: flex;
}

.bike-card__image {
  margin: 0;
  height: 200px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
}

.bike-card__bike-name {
  margin: 0;
}

.bike-card__stats {
  margin: 0;
}