.header {
  min-height: 100px;
  padding: 30px 40px;
  margin-bottom: 60px;
  border-bottom: 3px solid black;
}

.header__logo {
  height: 80px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header__nav-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;  
  margin-top: 20px;
}

.header__auth-buttons {
  display: flex;
}

.not-logged-in {
  justify-self: flex-end;
  gap: 10px;
}