$button-color: rgb(224, 11, 224);
$border-color: rgb(138, 58, 138);

$details-bg: #3cc47c;
$footer-bg: grey;

$ride-color: #3cc47c;
$trainer-color: #f1ba06;
$other-activity-color: #f0f8ff;

$radius: 4px;

$err-msg: #d37172;