@import '../../../styles/index';

.input {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.input-field {
  margin: 3px 0 25px;
  border: none;
  border-bottom: 1px solid #000;
}

.input-field:focus {
  border-bottom: 2px solid $details-bg;
  outline: none;
}

.input-label {
  color: $details-bg;
  margin-bottom: 6px;
}