.section-cards-list__card {  
  margin: 30px auto 80px;
  padding: 0;  
}

.section-cards-list__card:hover {
  transform: scale(1.02);
}

.section-cards-list__card::after {
  border-bottom: 2px solid whitesmoke;
}